
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('./assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('./assets/fonts/Pretendard/Pretendard-Light.woff') format('woff');
}

.c1 {text-decoration: none; color:#000; text-align: center;}
.c1:hover {
  transform: scale(1.05); /* 5% 확대 */
  color: darkred
  ;
}

.start {
  transform: scale(0);

}
.end {
  transform: scale(1);
  transition :all 0.5s;
}